<section class="custom_review_home homepage-section-{{ section.id }} featured-content{% if settings.animation != 'none' %} animate {{ settings.animation }}{% endif %}" data-section-id="{{ section.id }}" data-section-type="featured-content">

  <article class="row">
    <div class="container">
      <div class="section_heading">
        <h2 class="section_heading-text">{{ section.settings.heading }}</h2>
      </div>
   	</div>

    <div class="container">
      <div class="pages-content desktop-12 tablet-6 mobile-3 ced_custom_review">
        {% if section.settings.page != blank %}
          {%- assign feat_page = pages[section.settings.page] -%}
          {{ feat_page.content }}
        {% else %}
          <div class="rte">
            {{ section.settings.rich_text }}
          </div>
        {% endif %}

        {% if section.settings.page == blank and section.settings.rich_text == blank %}
          <div class="content-onboard">
            <p>Use this section to tell customers about your store or add content from one of your pages which makes it easy to add images, video or any other content</p>
          </div>
        {% endif %}
      </div>
    </div>

  </article>

</section>

<style>
.ced_custom_review #stamped-reviews-widget[data-widget-type="carousel"] {
	max-width: 100%;
}
</style>

{% schema %}
{
  "name": "Page Content",
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Welcome"
    },
    {
      "type": "richtext",
      "id": "rich_text",
      "label": "Text",
      "info": "Use basic HTML to format text",
      "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
    },
    {
      "type": "page",
      "id": "page",
	  "label": "Or Show content from a page"
    }
   ],
   "presets":[
      {
       "name":"Page Content",
       "category":"Text"

	  }
   ]
}
{% endschema %}
