<div class="container">
  	<div class="section_heading">
      <h2 class="section_heading-text">{{section.settings.sectionheading}}</h2>
  	</div>
  	<div class="collection_inner six-in-row">
	{%- for block in section.blocks -%}
      <div class="collection_item">
        <div class="collection_item-inner">
          <a href="{{ block.settings.collection }}" target="">
            {%- if block.settings.image != blank -%}
                        
            {%- capture supported_sizes -%}{%- render 'image-size', sizes: '100,200,250,300,350', image: block.settings.image  -%}{%- endcapture -%}
            {%- assign image_url = block.settings.image  | img_url: '250x' | replace: '_1x1.', '_{width}x.' -%}
            
              <img class="desktop-for lazyload image--fade-in" data-src="{{ image_url }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto" alt="{{ block.settings.image.alt | escape }}">
              <noscript>
                <img src="{{ collections.image | img_url: '250x' }}" alt="{{ collections.alt | escape }}">
              </noscript>
                          
            {%- else -%}
              {{ 'product-1' | placeholder_svg_tag }}
            {%- endif -%}
          </a>
        </div>
      </div>
    {%- endfor -%}
  </div>
</div>
{% schema %}
  {
    "name": "Shop by size",
    "tag": "section",
    "class": "Custom_collection shop_by-size",
	"max_blocks": 6,
    "settings": [
      {
        "type": "text",
        "id": "sectionheading",
        "label": "Section heading"
      }
    ],
    "blocks": [
		{
         "name": "Collection item",
         "type": "list",
         "settings": [
           {
             "type": "image_picker",
             "id": "image",
             "label": "Collection image"
           },
		   {
             "type": "url",
             "id": "collection",
             "label": "Select collection"
           }
         ]
       } 
    ],
    "presets":[
      {
        "name":"Shop by size",
        "category":"Block2"
      }
    ]
  }
{% endschema %}

<style>
.collection_inner {
	display: flex;
}
.three-in-row .collection_item {
	flex: 0 0 calc(100% / 3);
	padding: 15px;
}
  .collection_item-inner > a {
	display: block;
	background: #fff;
}
  .collection_item-inner > a svg {
	border: 1px solid #e4e4e4;
}
.collection_item-inner .collection-meta {
	text-align: center;
	margin-top: 10px;
}
.collection_item-inner .collection-meta > h3 {
	margin: auto;
}
.collection_item-inner .collection-meta > p {
	margin-bottom: 8px;
	margin-top: 13px;
}
.collection_item-inner .collection-meta > a {
	margin-top: 10px;
}
</style>